html { height: 100%;  width: 100%; }
body { 
    color: #333333;
    font: 14px "Helvetica",Verdana,Lucida,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #2f6f9f;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
label {
    font-weight: bold;
}
label {
    font-weight: bold;
}
h2 {
    background-color: #666666;
    border-bottom: 1px solid #cccccc;
    color: white;
    font-size: 19.5px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
}
h2.heading {
    margin: 0 0 4px 0;
}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.hide { display: none; }
.enforced_hide { display: none !important; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.tar { text-align: right; }
.tal { text-align: left; }
.tac { text-align: center; }

.tooltip {
    background: none;
    background-color: #428bca;
    color: white;
    font-size: 12px;
}

/* BUTTONS =========================================================================================== */
.buttons {
    padding: 20px;
    text-align: right;
}
.button {
   background-color: #428BCA;
   border: 1px solid #357EBD;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-size: 14px;
   font-weight: bold;    
   margin-bottom: 2px;
   margin-right: 10px;
   padding: 3px 8px;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover { background-color: #3276B1; border-color: #285E8E; }
.button.green {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}
.button.green:hover { background-color: #47A447; border-color: #398439; }
.button.red {
   background-color: #D9534F;
   border-color: #D43F3A;
}
.button.red:hover { background-color: #D2322D; border-color: #AC2925; }

.button.orange {
   background-color: #eb9316;
   border-color: #e38d13;
}
.button.orange:hover { background-color: #d58512; border-color: #eb9316; }

.button.purple {
   background-color: #AF5ADC;
   border-color: #8A48AE;
}
.button.purple:hover { background-color: #8A48AE; border-color: #8043A1; }

.button.black {
   background-color: #333;
   border-color: #222;
}
.button.black:hover { background-color: #333; border-color: #222; animation: glow 1s ease-in-out infinite;}
@keyframes glow {
  50% { background-color: #D2322D; border-color: #AC2925; }
}

.button-pagination {
    padding: 10px 20px;
	text-align: center;
}

.button.next {
	border : solid 1px #d58412;
	border-radius : 0px 20px 20px 0px ;
	color : #ffffff;
	padding : 1px 17px;
	background-color : #eb9216;
}
.button.prev {
	border : solid 1px #d58412;
	border-radius : 20px 0px 0px 20px ;
	color : #ffffff;
	padding : 1px 17px;
	background-color : #eb9216;

}


/* THEME =========================================================================================== */
#header {
    background-color: #cccccc;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
#navigation {
    background-color: #dddddd;
    bottom: 0;
    position: fixed;
    top: 45px;
    width: 200px;
    z-index: 1;
}
#navigation ul {
    padding: 0;  
}
#navigation ul  li{
    list-style: none;
    padding: 5px 10px;
}
#content {
    margin-top: 45px;
    margin-left: 200px;
    min-height: 400px;
}



#content .row{
    background-color: #eeeeee;
    padding: 10px;
}

input[type="text"] {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #333333;
    padding: 2px 4px;
}
input:focus, select:focus {
    box-shadow: 0 0 3px 1px #69bafc;
}



/* LANDING PAGE =========================================================================================== */

#manage-home {
    padding: 30px 20px 20px 20px;
}

.container {
    min-width: 200px;
    float: left;
    margin-right: 20px;
}
.container  h3{
    background-color: #cccccc;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}
.container .content  {
    background-color: #eeeeee;
    min-height: 175px;
    padding: 10px;
}


ul {
    margin: 0;
    padding: 2px 15px;
}
li {
    list-style: none;
}

/* TABLE STYLE =========================================================================================== */

.dt-generic-style {
    border: 0 none;
}

.dt-generic-style thead th {
    border-bottom: 1px solid #888888;
}

.dt-generic-style tbody tr {
    background-color: #f8f8f8;
    border: 1px solid #888888;
}
.dt-generic-style tbody tr:hover {
    background-color:  #DCEEFF;
    cursor: pointer;
}
.dt-generic-style tbody tr.no-hover:hover {
    background-color: #f8f8f8;
    cursor: initial;
}

.dt-generic-style tbody td:first-child {
    border-left: 1px solid #888888;
}
.dt-generic-style tbody td:last-child {
    border-right: 1px solid #888888;
}

.dt-generic-style td {
    background-color: transparent;
    border-bottom: 1px solid #888888;
    text-align: center;
}

.dataTables_length{
    float: right;
    margin-bottom: 5px;
}

.dataTables_length label {
    font-weight: normal;
}

.dataTables_paginate a.paginate_button.current {
    background: #CDBFE3;
}
.dataTables_paginate a.paginate_button:hover {
    background: #8C7BA6;
    border: 1px solid #6E6084;
}

.record-issue, .record-issue > * {
    background-color: #FFB6B6 !important;
}

/* INVOICES =========================================================================================== */

#order-information input[type="text"] {
    background-color: #DFE7F3;
    color: #888888;
    font-style: italic;
    width: 850px;
}
#order-customer input[type="text"]{
    width: 350px;
}

#order-price {
    font-weight: bold;
    padding: 20px;
    text-align: right;
}


/* RECORDS =========================================================================================== */

#manage-records-case  label{
    display: block;
    margin-top: 10px;
}
#manage-records-case  textarea{
    height: 150px;
    width: 600px;
}
#manage-records-case input {
    width: 190px;
}
#manage-records-case select {
    width: 200px;
}
#manage-records-case  .col2{
    margin-left: 40px;
}

#manage-records-table tbody td:nth-child(1) input {
    width: 150px;
}
#manage-records-table tbody td:nth-child(3) input {
    width: 120px;
}
#manage-records-table tbody td:nth-child(4) input, #manage-records-table tbody td:nth-child(5) input{
    width: 120px;
}


/* POPUP CONTAINERS AND WINDOWS --------------------------------------------------------------------------------- */
#backdrop {
    background-color: #000000;
    color: #eeeeee;
    font-size: 18px;
    font-weight: bold;
    height: 10000px;
    padding: 5px;
    position: fixed;
    opacity: 0.5;
    text-align: center;
    text-shadow: 0 0 3px #cccccc;
    top: 0;
    width: 100%;
    z-index: 10;
}

.popup-iframe {
    border: 0px none;
    box-shadow: 0px 0px 7px 3px #333333;
    height: 150px;
    margin-left: -350px;
    position: absolute;
    left: 50%;
    top: 100px;
    width: 700px;
    z-index: 11;
}

.quick-search {
    background-color: white;
    padding: 0 0 20px;
}

.quick-search > div {
    margin-left: 10px;
}
.quick-search input[type="text"] {
    width: 150px;
}

#quick-search-results, #no-quick-search-results  {
    background-color: #eeeeee;
    margin: 10px auto;
    padding: 5px 20px;
    width: 500px;
}

/* IMPORTS --------------------------------------------------------------------------------- */


#manage-importer {

}

#manage-importer label {
    display: block;
    margin-top: 10px;
}

#manage-importer span.req {
    color: red;
    font-style: italic;
}
#manage-importer span.ex {
    color: gray;
    font-style: italic;
}



